/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: auto !important; /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
    background-color: #f8f8f5;
    font-family: "wf_SegoeUILight","wf_SegoeUI","Tahoma","Verdana","Arial","sans-serif";
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow: hidden;
}

/* Portrait layout (default) */
.app {
    background: url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position: absolute; /* position in the center of the screen */
    left: 50%;
    top: 50%;
    height: 50px; /* text area height */
    width: 225px; /* text area width */
    text-align: center;
    padding: 180px 0px 0px 0px; /* image height is 200px (bottom 20px are overlapped with text) */
    margin: -115px 0px 0px -112px; /* offset vertical: half of image height and text area height */
    /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0px 75px 170px; /* padding-top + padding-bottom + text area = image height */
        margin: -90px 0px 0px -198px; /* offset vertical: half of image height */
        /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.status {
    background-color: #333333;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

    .status.complete {
        background-color: #4B946A;
    }

.hide {
    display: none;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

.clear {
    clear: both;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
}

img {
    border: 0px !important;
    margin: 0px;
    display: block;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.left_menu_curtain {
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    background: #000;
    z-index: 99;
    transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

.left_menu {
    position: absolute;
    top: 50px;
    bottom: 0px;
    left: -250px;
    width: 250px;
    background: #fff;
    z-index: 100;
    transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

    .left_menu .user_info {
        background: #efefeb;
        padding: 10px;
        overflow: hidden;
        display: table;
        width: 100%;
    }

        .left_menu .user_info .avatar {
            display: table-cell;
            width: 40px;
        }


            .left_menu .user_info .avatar img {
                border-radius: 20px;
                width: 40px;
                height: 40px;
            }

        .left_menu .user_info .user_name {
            margin-left: 10px;
            font-size: 14px;
            font-weight: 300;
            color: #666;
            width: 130px;
            display: table-cell;
            vertical-align: middle;
        }

.left_menu_items {
    position: absolute;
    bottom: 140px;
    top: 60px;
    right: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

    .left_menu_items li {
        font-size: 13px;
        color: #666;
        background-size: 22px 22px;
        background-repeat: no-repeat;
        background-position: 15px 15px;
        line-height: 52px;
        padding-left: 52px;
        border-bottom: 1px solid #f3f3f3;
        background-color: transparent;
    }

        .left_menu_items li.active {
            background-color: #e5e5e5;
        }

        .left_menu_items li.library {
            background-image: url(../img/library.png);
        }

        .left_menu_items li.followings {
            background-image: url(../img/users.png);
        }

        .left_menu_items li.categories {
            background-image: url(../img/categories.png);
        }

        .left_menu_items li.settings {
            background-image: url(../img/settings.png);
        }

.left_menu .last_read {
    position: absolute;
    bottom: 0px;
    height: 140px;
    right: 0px;
    left: 0px;
    overflow: hidden;
    background: #efefeb;
}

    .left_menu .last_read .last_read_header {
        font-size: 12px;
        color: #666;
        line-height: 20px;
        margin-left: 10px;
        margin-top: 10px;
    }

    .left_menu .last_read img {
        margin-top: 5px;
    }

    .left_menu .last_read .last_read_books {
    }

        .left_menu .last_read .last_read_books li {
            float: left;
            margin-left: 10px;
        }

.header {
    height: 50px;
    background: #50b29e;
    float: left;
    width: 100%;
    position: relative;
    z-index: 2;
}


    .header .title {
        text-align: center;
        font-size: 20px;
        line-height: 50px;
        color: #fff;
    }

    .header .search_area {
        position: absolute;
        right: 10px;
        top: 10px;
        bottom: 10px;
        left: 80px;
        display: none;
    }

        .header .search_area input {
            background: none;
            border: 0px;
            border-bottom: 1px solid #fff;
            padding: 5px;
            color: #fff;
            padding-left: 25px;
            width: 100%;
        }

            .header .search_area input:focus {
                outline: none;
            }

            .header .search_area input::-webkit-input-placeholder { /* WebKit browsers */
                color: #d4ede8;
            }

            .header .search_area input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: #d4ede8;
            }

            .header .search_area input::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: #d4ede8;
            }

            .header .search_area input:-ms-input-placeholder { /* Internet Explorer 10+ */
                color: #d4ede8;
            }

.menu_button {
    background: url("../img/menu_h.png") 12pt no-repeat transparent;
    background-size: 20px 20px;
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 3;
}

    .menu_button.active {
        background-color: #74d1be;
    }


.search_button {
    background: url("../img/search_h.png") 12pt no-repeat;
    background-size: 20px 20px;
    -webkit-background-size: 20px 20px;
    -moz-background-size: 20px 20px;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
}

.sub_menu_container {
    overflow: hidden;
    display: block;
    position: relative;
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 4px rgba(0,0,0,0.2);
    z-index: 2;
}

.sub_menu {
    width: 100%;
    background: #fff;
    display: table;
    position: relative;
    z-index: 2;
}

    .sub_menu.scrollable {
        white-space: nowrap;
        width: 100%;
    }

    .sub_menu .item {
        text-align: center;
        padding: 15px;
        padding-bottom: 11px;
        display: table-cell;
        font-size: 12px;
    }

    .sub_menu.scrollable .item {
        display: inline-block;
        padding-left: 30px;
        padding-right: 30px;
    }

    .sub_menu .item.active {
        border-bottom: 4px solid #50b29e;
    }

    .sub_menu.scrollable .item.active {
        border-bottom: 4px solid #50b29e;
    }

.container {
    top: 50px;
    left:0;
    right:0;
    position: absolute;
    z-index: 1;
    bottom: 0px;
}

.content {
    top: 44px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    left:0;
    right:0;
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}

    .content .loader {
        position: absolute;
        z-index: 999;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: #f8f8f5;
        display: none;
        text-align: center;
    }

        .content .loader .image {
            width: 32px;
            height: 32px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }

.book_list {
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
    transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

    .book_list > li {
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: hidden;
        margin: 8px;
        opacity: 0;
    }

        .book_list > li .info {
            padding: 10px;
            background: #fff;
        }

            .book_list > li .info .name {
                font-size: 13px;
                color: #666;
                word-wrap: break-word;
            }

            .book_list > li .info .authors {
                font-size: 11px;
                color: #999;
                margin-top: 5px;
            }

    .book_list li.books_loader {
        clear: both;
        width: 100%;
        height: 100px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        opacity: 1;
        box-shadow: none;
        -webkit-box-shadow: none;
    }


.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

    /**** disabling Isotope CSS3 transitions ****/

    .isotope.no-transition,
    .isotope.no-transition .isotope-item,
    .isotope .isotope-item.no-transition {
        -webkit-transition-duration: 0s;
        -moz-transition-duration: 0s;
        -ms-transition-duration: 0s;
        -o-transition-duration: 0s;
        transition-duration: 0s;
    }


    @media all {
    .iscroll-content li  {
        -webkit-transform: translateZ(0);
    }
}